@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override the base form styles */
@layer base {
  [type="text"]:focus,
  [type="email"]:focus,
  [type="url"]:focus,
  [type="password"]:focus,
  [type="number"]:focus,
  [type="date"]:focus,
  [type="datetime-local"]:focus,
  [type="month"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="time"]:focus,
  [type="week"]:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    --tw-ring-color: theme("colors.red.600");
  }
}

html {
  scroll-behavior: smooth;
}

html.normal-scroll {
  scroll-behavior: auto;
}
